<% provide(:title, 'All publications') %>
<h1>All publications</h1>

<% if current_user != nil %>
  <%= link_to "Add Publication", new_publication_path %>
<% end %>

<%= will_paginate %>

<ul class="publications">
  <% @publications.each do |publication| %>
    <li>
      <%= link_to render("pub_name", pub: publication), publication %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
