<% provide(:title, @author.surname) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @author.surname %>, <%= @author.forename %>
      </h1>
associated User <%= @user.name %>
    </section>
  </aside>
</div>

<ul class="publications">
  <% @author.publications.each do |publication| %>
    <li>
      <%= link_to publication.name, publication %>
    </li>
  <% end %>
</ul>
